{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">
      <h1>Bem Vindo!</h1>
      <p>Selecione um tipo de gráfico para visualizar o relatório</p>

      <ul>
        <li>
          <a href="analise01">Top 15 palavras mais Frequentes</a>
        </li>
        <li>
          <a href="analise02">Distribuição dos Tweets por Classe</a>
        </li>
        <li>
          <a href="analise03">Distribuição dos tamanhos dos Tweets</a>
        </li>
        <li>
          <a href="analise04">Proporção de classes</a>
        </li>
        <li>
          <a href="analise05">Tamanho vs. Qtde de Palavras</a>
        </li>
        <li>
          <a href="analise06">Variação do Tamanho por Classe</a>
        </li>
      </ul>
    </div>
  </body>
</html>
